---
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";
---

<Layout>
	<h1 class="text-3xl font-bold text-center">
		docents dot net
		<br>
		coming soon
		<br>
		xo
	</h1>
	
</Layout>